*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color: #47475C;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 17px;
}

.container {
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 420px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid rgba(71, 71, 92, 0.7);
  border-top: 1px solid rgba(71, 71, 92, 0.7);
  font-weight: 500;
  padding: 6px 16px;
}

.first-section header {
  border-top: none;
}


.title {
  background-color: #fff;
  border: none;
  box-shadow: 0px 3px 3px -3px #777;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 420px;
  z-index: 9999;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.map {
  background: url(../images/map.png)top center no-repeat;
  background-size: cover;
  height: 356px;
  width: 420px;
  position: fixed;
  top: 0;
}

.scrolling {
  top: 356px;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  max-width: 420px;
  box-shadow: 0 -3px 3px -3px #777;
}

table {
  width: 100%;
}

td {
  font-weight: 500;
  padding: 16px;
  vertical-align: middle;
}

tr {
  border-bottom: 1px solid rgba(71, 71, 92, 0.40);
}

td.line {
  width: 10%;
}

tr:last-child {
  border-bottom: none;
}

td.destination {
  font-weight: 300;
  padding-right: 0;
  width: 50%;
}

td.frequency {
  width: 40%;
}

div.status {
  height: 12px;
  width: 12px;
  border-radius: 12px;
  box-shadow: inset 0px 1px 3px #777;
}

.on-time {
  background-color: #9DDC95;
}

.behind {
  background-color: #F8D892;
}

.no-service {
  background-color: #F2A29A;
}
