*, *:after, *:before {
  box-sizing: border-box;
}

body {
  color: #47475C;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 17px;
}

header {
  border-bottom: 1px solid rgba(71, 71, 92, 0.7);
  border-top: 1px solid rgba(71, 71, 92, 0.7);
  font-weight: 500;
  padding: 6px 16px;
}


.title {
  background-color: #fff;
  border: none;
  color: #47475C;
  padding: 16px;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
}

td {
  font-weight: 500;
  padding: 16px;
  vertical-align: middle;
}

tr {
  border-bottom: 1px solid rgba(71, 71, 92, 0.40);
}

td.line {
  width: 10%;
}

tr:last-child {
  border-bottom: none;
}

td.destination {
  font-weight: 300;
  padding-right: 0;
  width: 50%;
}

td.frequency {
  width: 40%;
}
